<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
</head>
<body>
   <div class="container">
       <form action="/dashboard" method="post">
          <input type="text" name="club" placeholder="Club Name">
          <input type="text" name="country" placeholder="Country">
          
          <button class="btn btn-lg upload-btn" type="button">Upload File</button>
          <input type="file" name="upload" id="upload-input" style="display:none">
          
          <button>Add Group</button>
           
       </form>
   </div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
<script src="/js/upload.js"></script>   
</body>
</html>