<!DOCTYPE html>
<html>
<head>

    <title>Footballkik</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/uploads/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/login.css">

</head>

<body>

    <div class="container logo-container">
        <div class="row">
            <div class="col-md-12">
                    <nav class="navbar" id="nav_bar" role="navigation">

                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle navbar_icon" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span> 
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1 class="logo-div">
                                <a href="/">Footballkik</a>
                            </h1>
                        </div>



                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li style="padding-right: 50px;">
                                    <h2 class="reg-div">
                                        <a href="/">
                                            Login
                                        </a>
                                    </h2>

                                </li>

                                <li class="reg_link2">
                                    <h2 class="reg-div">
                                        <a href="/signup">
                                            Register
                                        </a>
                                    </h2>
                                </li>
                            </ul>
                        </div>

                    </nav>
                </div>

        </div>
    </div>

<div id="main">
    <div class="main">
        <form action="/" method="post">
            
            <h1>
                <a href="/auth/facebook" class="btn-social btn-facebook btn-lg">
                    <i class="fa fa-facebook"></i> Login With Facebook
                </a>
            </h1>
            
            <h1>
                <a href="/auth/google" class="btn-social btn-gplus btn-lg">
                    <i class="fa fa-google-plus"></i> Login With Google
                </a>
            </h1>

            <h1>
                Login
            </h1>
            
            <% if(hasErrors) {%>
                <% _.forEach(messages, function(error){ %>
                    <div class="alert alert-danger text-center">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <%= error %><br>
                    </div>
                <% }) %>
            <% } %>

            <div class="inset">
                <p>
                    <label for="email">EMAIL ADDRESS</label>
                    <input type="text" name="email" placeholder="" />
                </p>
                <p>
                    <label for="password">PASSWORD</label>
                    <input type="password" name="password" placeholder="" />
                </p>

            </div>

            <p class="p-container">
                <span><a href="/signup">Not Yet Registered?</a></span>
                <input type="submit" class="login-log" style=" background: #3bb5ec; border: #3bb5ec;" value="Login">
            </p>
        </form>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>